<div class="card mb-4 wow fadeIn mt-2">
<div class="card-body">
    <h4 class="font-weight-bold pb-3"><a routerLink="help" class="text-muted">Results <i class="fas fa-info-circle"></i></a></h4>
    <button type="button" class="btn btn-green" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        Job Details <i class="fa" [ngClass]="{'fa-plus': isCollapsed, 'fa-minus': !isCollapsed}"></i>
    </button>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="row p-3">
            <table class="table table-sm table-striped col-6" *ngIf="job">
            <tbody>
                <tr>
                <th scope="row">Name</th>
                <td>{{job.name}}</td>
                </tr>
                <tr>
                <th scope="row">Assembly</th>
                <td>{{job.assembly}}</td>
                </tr>
                <tr>
                <th scope="row">Status</th>
                <td><span class="badge " [ngClass]="{'badge-success':job.status == 'Done', 'badge-secondary':job.status == 'Queued', 'badge-danger':job.status == 'Failed'}">{{job.status}}</span></td>
                </tr>
                <tr>
                <th scope="row">Submitted at</th>
                <td>{{job.submitted_at}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-12"><h5 class="font-weight-bold pb-3">Result Preview</h5></div>
        <div class="col-2 p-0 d-none d-md-block bg-light sidebar">
            <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1,custom-panel-2">
                <ngb-panel id="custom-panel-1">
                    <ng-template ngbPanelHeader let-opened="opened">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="m-0">Select Filters</h5>
                        <button ngbPanelToggle class="btn btn-link p-0"><i class="fas fa-caret-right" *ngIf="!opened"></i><i class="fas fa-caret-down" *ngIf="opened"></i></button>
                    </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                    <div *ngIf="fieldConfig && fieldConfig.Consequence" class="pb-2">
                        <label for="consequence">Consequence</label>
                        <ng-select
                            [items]="fieldConfig.Consequence"
                            [multiple]="true"
                            [closeOnSelect]="false"
                            bindLabel="display"
                            placeholder="Select"
                            (change)="onConsequenceSelect($event)"></ng-select>
                        <!--<select class="form-control-sm" color="default" (change)="onConsequenceSelect($event)" >
                            <option value="">Select</option>
                            <option *ngFor="let term of fieldConfig.Consequence" value="{{term.code}}" [selected]='consequenceFilter == term.code'>{{term.display}}</option>
                        </select>-->
                    </div>
                     <div class="form-group">
                        <label for="sift">SIFT Prediction</label>
                        <select class="form-control form-control-sm" color="default" (change)="onSiftSelect($event)" *ngIf="fieldConfig && fieldConfig.SIFT">
                            <option value="">Select</option>
                            <option *ngFor="let term of fieldConfig.SIFT" value="{{term.code}}" [selected]='siftFilter == term.code'>{{term.display}}</option>
                        </select>
                     </div>
                     <div class="form-group">
                        <label for="polyphen">PolyPhen Prediction</label>
                        <select class="form-control form-control-sm" color="default" (change)="onPolyphenSelect($event)" *ngIf="fieldConfig && fieldConfig.PolyPhen">
                            <option value="">Select</option>
                            <option *ngFor="let term of fieldConfig.PolyPhen" value="{{term.code}}" [selected]='polyphenFilter == term.code'>{{term.display}}</option>
                        </select>
                     </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="custom-panel-2">
                    <ng-template ngbPanelHeader let-opened="opened">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="m-0">Score Ranges</h5>
                        <button ngbPanelToggle class="btn btn-link p-0"><i class="fas fa-caret-right" *ngIf="!opened"></i><i class="fas fa-caret-down" *ngIf="opened"></i></button>
                    </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                     <div class="form-group">
                        <label for="siftScore">AF Score</label>
                        <div class="form-row align-items-center">
                            <div class="col-sm-4 my-1">
                            <input type="number" class="form-control form-control-sm" id="inlineFormInputName" min="0" max="1" step="0.01" placeholder="Min" [formControl]="afMinFilter">
                            </div>
                            <div class="col-sm-4 my-1">
                            <input type="number" class="form-control form-control-sm" id="inlineFormInputName" min="0" max="1" step="0.01" placeholder="Max" [formControl]="afMaxFilter">
                            </div>
                            <div class="col-auto my-1">
                            <button class="btn btn-sm btn-primary" (click)="findVariantRecords()">Go</button>
                            </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="siftScore">SIFT Score</label>
                        <div class="form-row align-items-center">
                            <div class="col-sm-4 my-1">
                            <input type="number" class="form-control form-control-sm" id="inlineFormInputName" min="0" max="1" step="0.01" placeholder="Min" [formControl]="siftMinFilter">
                            </div>
                            <div class="col-sm-4 my-1">
                            <input type="number" class="form-control form-control-sm" id="inlineFormInputName" min="0" max="1" step="0.01" placeholder="Max" [formControl]="siftMaxFilter">
                            </div>
                            <div class="col-auto my-1">
                            <button class="btn btn-sm btn-primary" (click)="findVariantRecords()">Go</button>
                            </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="siftScore">PolyPhen Score</label>
                        <div class="form-row align-items-center">
                            <div class="col-sm-4 my-1">
                            <input type="number" class="form-control form-control-sm" id="inlineFormInputName" min="0" max="1" step="0.01" placeholder="Min" [formControl]="polyPhenMinFilter">
                            </div>
                            <div class="col-sm-4 my-1">
                            <input type="number" class="form-control form-control-sm" id="inlineFormInputName" min="0" max="1" step="0.01" placeholder="Max" [formControl]="polyPhenMaxFilter">
                            </div>
                            <div class="col-auto my-1">
                            <button class="btn btn-sm btn-primary" (click)="findVariantRecords()" >Go</button>
                            </div>
                        </div>
                     </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="col-10">
        <table class="table table-sm table-striped table-responsive">
        <thead class="thead-light">
            <tr>
            <th scope="col">Uploaded Variant</th>
            <th scope="col">Location</th>
            <th scope="col">Allele</th>
            <th scope="col">Consequence</th>
            <th scope="col">Symbol</th>
            <th scope="col">Gene</th>
            <th scope="col">Feature type</th>
            <th scope="col">Feature</th>														
            <th scope="col">cDNA_position</th>
            <th scope="col">CDS_position</th>
            <th scope="col">Protein_position</th>
            <th scope="col">Amino_acids</th>
            <th scope="col">Codons</th>
            <th scope="col">Existing_variation</th>
            <th scope="col">IMPACT</th>
            <th scope="col">DISTANCE</th>
            <th scope="col">STRAND</th>
            <th scope="col">FLAGS</th>
            <th scope="col">SYMBOL</th>
            <th scope="col">SYMBOL_SOURCE</th>
            <th scope="col">HGNC_ID</th>
            <th scope="col">ENSP</th>
            <th scope="col">SWISSPROT</th>
            <th scope="col">TREMBL</th>
            <th scope="col">UNIPARC</th>
            <th scope="col">UNIPROT_ISOFORM</th>
            <th scope="col">SOURCE</th>
            <th scope="col">SIFT</th>
            <th scope="col">PolyPhen</th>
            <th scope="col">HGVSc</th>
            <th scope="col">HGVSp</th>
            <th scope="col">HGVS_OFFSET</th>
            <th scope="col">AF</th>
            <th scope="col">gnomAD_AF</th>
            <th scope="col">gnomAD_AFR_AF</th>
            <th scope="col">gnomAD_AMR_AF</th>
            <th scope="col">gnomAD_ASJ_AF</th>
            <th scope="col">gnomAD_EAS_AF</th>
            <th scope="col">gnomAD_FIN_AF</th>
            <th scope="col">gnomAD_NFE_AF</th>
            <th scope="col">gnomAD_OTH_AF</th>
            <th scope="col">gnomAD_SAS_AF</th>
            <th scope="col">CLIN_SIG</th>
            <th scope="col">SOMATIC</th>
            <th scope="col">PUBMED</th>
            <th scope="col">PHENO</th>
            <th scope="col">GO_CLASSES</th>
            <th scope="col">PHENOTYPE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entry of variantRecords; let outIndex = index">
                <th scope="row">{{entry['#Uploaded_variation']}}</th>
                <td>{{entry.Location}}</td>
                <td>{{entry.Allele}}</td>
                <td>{{entry.Consequence}}</td>
                <td>{{entry.SYMBOL}}</td>
                <td><a [href]="'https://asia.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=' + entry.Gene" target="_blank">{{entry.Gene}}</a></td>
                <td>{{entry.Feature_type}}</td>
                <td>{{entry.Feature}}</td>														
                <td>{{entry.cDNA_position}}</td>
                <td>{{entry.CDS_position}}</td>
                <td>{{entry.Protein_position}}</td>
                <td>{{entry.Amino_acids}}</td>
                <td>{{entry.Codons}}</td>
                <td>{{entry.Existing_variation}}</td>
                <td>{{entry.IMPACT}}</td>
                <td>{{entry.DISTANCE}}</td>
                <td>{{entry.STRAND}}</td>
                <td>{{entry.FLAGS}}</td>
                <td>{{entry.SYMBOL}}</td>
                <td>{{entry.SYMBOL_SOURCE}}</td>
                <td>{{entry.HGNC_ID}}</td>
                <td>{{entry.ENSP}}</td>
                <td>{{entry.SWISSPROT}}</td>
                <td>{{entry.TREMBL}}</td>
                <td>{{entry.UNIPARC}}</td>
                <td>{{entry.UNIPROT_ISOFORM}}</td>
                <td>{{entry.SOURCE}}</td>
                <td>
                    <span *ngIf="entry.SIFT_object"><span class="badge badge-lg" [ngbTooltip]="entry.SIFT_object.term" [ngClass]="{'badge-success': entry.SIFT_object.term == 'tolerated', 'badge-danger': entry.SIFT_object.term == 'deleterious'}">{{entry.SIFT_object.score}}</span></span>
                    <span *ngIf="!entry.SIFT_object">{{entry.SIFT}}</span></td>
                <td>
                    <span *ngIf="entry.PolyPhen_object">
                        <span class="badge badge-lg" [ngbTooltip]="entry.PolyPhen_object.term" [ngClass]="{'badge-primary': entry.PolyPhen_object.term == 'unknown', 'badge-success': entry.PolyPhen_object.term == 'benign', 'badge-warning': entry.PolyPhen_object.term == 'possibly_damaging', 'badge-danger': entry.PolyPhen_object.term == 'probably_damaging'}">
                        {{entry.PolyPhen_object.score}}</span>
                    </span>
                    <span *ngIf="!entry.PolyPhen_object">{{entry.PolyPhen}}</span></td>
                <td>{{entry.HGVSc}}</td>
                <td>{{entry.HGVSp}}</td>
                <td>{{entry.HGVS_OFFSET}}</td>
                <td>{{entry.AF}}</td>
                <td>{{entry.gnomAD_AF}}</td>
                <td>{{entry.gnomAD_AFR_AF}}</td>
                <td>{{entry.gnomAD_AMR_AF}}</td>
                <td>{{entry.gnomAD_ASJ_AF}}</td>
                <td>{{entry.gnomAD_EAS_AF}}</td>
                <td>{{entry.gnomAD_FIN_AF}}</td>
                <td>{{entry.gnomAD_NFE_AF}}</td>
                <td>{{entry.gnomAD_OTH_AF}}</td>
                <td>{{entry.gnomAD_SAS_AF}}</td>
                <td>{{entry.CLIN_SIG}}</td>
                <td>{{entry.SOMATIC}}</td>
                <td>{{entry.PHENO}}</td>
                <td>{{entry.PUBMED}}</td>
                <td>{{entry.GO_CLASSES.split('__').join()}}</td>
                <td>{{entry.PHENOTYPE}}</td>
            </tr>
        </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [rotate]="true" 
                [maxSize]="5" (pageChange)="loadPage($event)">
            </ngb-pagination>
        </div>
        </div>
    </div>
</div>
</div>
